{% extends 'wrapper.html' %}


{% block title %}Polls{% endblock %}

{% block header %}
  <h2><span class="teal-text text-darken-4">Most recent polls</span></h2>
{% endblock %}

{% block content %}
  {% if most_recent %}
    {% for q in most_recent %}
      <div class="col s12 m6">
        <div class="card white">
          <div class="card-content teal-text text-darken-4">
            <span class="card-title">{{ q.text }}</span>
          </div>
          <div class="card-action teal darken-3">
            <a href="{% url 'polls:detail' q.id %}" class="white-text">
              Go to voting page
              <i class="material-icons right">chevron_right</i>
            </a>
          </div>
        </div>
      </div>
    {% endfor %}
  {% else %}
    <p>No polls are available.</p>
  {% endif %}
{% endblock %}
